.map {
    height: 100%;
    width: 100%;
}

.info {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    padding: 5px;
}

.info p {
    font-weight: 600;
    color: black;
    font-size: 1.3rem;
}

.error {
    color: red;
}